__pycache__/
*.py[cod]
*$py.class
dataset/
checkpoints/
logs/
.vscode/
submit/
logs*/
results/
.tmp/
csv_results/
backup*
/autorun/auto
/autorun/csv_results
/autorun/results
hzp_test*
toy/
*_backup*
smile.log
*_toy_*
*debug*
*_logs
wav2vec_ckpt
.wav2vec.py.swp
val_results*
test_results*
pred_csv*
analysis*
autorun*
close_screen.sh